@model IEnumerable<ql_nha_sach.Models.LichSuNhapSach>

@{
    ViewBag.Title = "Lịch Sử Nhập Sách";
}

<h2>Lịch Sử Nhập Sách</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaSach)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayNhap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoLuongNhap)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaSach)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayNhap)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoLuongNhap)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
